<!DOCTYPE html>
<html>
<%- include("headerPartials")  %>

<body>
    <% if( typeof errors != "undefined") {  %>
        <p> Hay errores en el formulario</p>
        <ul>
            <% for ( let i = 0; i < errors.length; i++ ) { %>
                <li> <%= errors[i].msg %> </li>
            
            <% } %>
        </ul>
    <% } %>  
    <form action="/movies/edit/<%= movie.id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Titulo</label>
            
            <input type="text" name="title" placeholder="title" value="<%= movie.title %>">
        </div>
        <div>
            <label for="awards">Premios</label>            
            <input type="number"  name="awards" placeholder="awards" value="<%= movie.awards %>">
        </div>
        <div>
            <label for="revenue">Ganancias</label>            
            <input type="number" name="revenue" placeholder="revenue" value="<%= movie.revenue %>">
        </div>
        <div>
            <label for="release_date">Fecha de Estreno</label>            
            <input type="date" name="release_date"
                value="<%= moment(movie.release_date).format("YYYY-MM-DD") %>">
        </div>
        <div>
            <label for="length">Duracion</label>
            <input type="number" name="length" value="<%= movie.length %>">
        </div>
        <button>Enviar</button>
    </form>
</body>

</html>